<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  	    http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
  	    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
  	   ">

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="currencyWithTxChecker"/>

        <endpoint id="endpointQueueIncomingTxPayments" uri="activemq:queue:incomingTxPayments"/>
        <endpoint id="endpointQueueOutgoingTxPayments" uri="activemq:queue:outgoingTxPayments"/>
        <endpoint id="endpointfileIn" uri="file:./target/test-classes/camel/in"/>
        <endpoint id="endpointfileOut" uri="file:./target/test-classes/camel/out"/>

        <!-- 1 -->
        <route>
            <from uri="file:./target/test-classes/camel/in"/>
            <to uri="activemq:queue:incomingTxPayments"/>
        </route>

        <!-- 2  PaymentCurrencyWithTxRouter -->

        <!-- 3 -->
        <route>
            <from uri="activemq:queue:outgoingTxPayments"/>
            <to uri="file:./target/test-classes/camel/out"/>
        </route>
    </camelContext>

    <bean id="currencyWithTxChecker" class="com.redhat.gpte.training.camel.h2.PaymentCurrencyWithTxRouter">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="jmsTransactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
    </bean>

    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL"
                  value="tcp://localhost:61616?jms.redeliveryPolicy.maximumRedeliveries=3&amp;jms.redeliveryPolicy.initialRedeliveryDelay=500"/>
    </bean>

    <bean name="activemq" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="transactionManager" ref="jmsTransactionManager"/>
        <property name="transacted" value="true"/>
    </bean>

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:tcp://localhost:9123/jbossfuse-demo" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <jdbc:initialize-database data-source="dataSource" ignore-failures="DROPS">
        <jdbc:script location="classpath:sql/db-demo-setup-h2.sql" />
    </jdbc:initialize-database>

    <bean name="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="POLICY_PROPAGATION_REQUIRED"
          class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="jdbcTransactionManager"/>
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"/>
    </bean>

    <bean id="processedMessagesRepository" class="com.redhat.gpte.training.camel.h2.JdbcMessageIdRepository">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>