<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  	    http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
  	   ">

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="currencyWithTxChecker"/>

        <endpoint id="endpointQueueIncomingTxPayments" uri="activemq:queue:incomingTxPayments"/>
        <endpoint id="endpointQueueOutgoingTxPayments" uri="activemq:queue:outgoingTxPayments"/>
        <endpoint id="endpointfileIn" uri="file:./target/test-classes/camel/in"/>
        <endpoint id="endpointfileOut" uri="file:./target/test-classes/camel/out"/>

        <!-- 1 -->
        <route>
            <from uri="file:./target/test-classes/camel/in"/>
            <to uri="activemq:queue:incomingTxPayments"/>
        </route>

        <!-- 2  PaymentCurrencyWithTxRouter -->

        <!-- 3 -->
        <route>
            <from uri="activemq:queue:outgoingTxPayments"/>
            <to uri="file:./target/test-classes/camel/out"/>
        </route>
    </camelContext>

    <bean id="currencyWithTxChecker" class="com.redhat.gpte.training.camel.postgresql.PaymentCurrencyWithTxRouter">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="jmsTransactionManager"
          class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
    </bean>

    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL"
                  value="tcp://localhost:61616?jms.redeliveryPolicy.maximumRedeliveries=3&amp;jms.redeliveryPolicy.initialRedeliveryDelay=500"/>
    </bean>

    <bean name="activemq" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="transactionManager" ref="jmsTransactionManager"/>
        <property name="transacted" value="true"/>
    </bean>

    <bean id="postgres-ds" class="org.postgresql.ds.PGPoolingDataSource">
        <property name="serverName" value="localhost"/>
        <property name="databaseName" value="fuse_demo"/>
        <property name="portNumber" value="5432"/>
        <property name="user" value="fuse_user"/>
        <property name="password" value="fuse_user"/>
        <property name="dataSourceName" value="postgres-ds"/>
        <property name="initialConnections" value="1"/>
        <property name="maxConnections" value="10"/>
    </bean>

    <bean name="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="postgres-ds"/>
    </bean>

    <bean id="POLICY_PROPAGATION_REQUIRED"
          class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="jdbcTransactionManager"/>
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"/>
    </bean>

    <bean id="processedMessagesRepository" class="com.redhat.gpte.training.camel.postgresql.JdbcMessageIdRepository">
        <property name="dataSource" ref="postgres-ds"/>
    </bean>

</beans>