<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:osgix="http://www.springframework.org/schema/osgi-compendium"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
            http://www.springframework.org/schema/osgi-compendium http://www.springframework.org/schema/osgi-compendium/spring-osgi-compendium.xsd
       ">

    <!-- properties placeholder -->
    <osgix:cm-properties id="greeterclient" persistent-id="greeterclient">
        <prop key="myDefaultRequest">Hi there!</prop>
    </osgix:cm-properties>

    <!-- placeholder configurer -->
    <ctx:property-placeholder properties-ref="greeterclient"/>

    <!-- osgi service reference -->
    <osgi:reference id="greeterService" interface="com.redhat.gpe.training.osgi.service.Greeter"/>


    <!--
         Regular spring configuration file defining the beans for this bundle.
         The configuration of OSGi definitions is kept in a separate file so
         that this file can easily be used for integration testing outside of
         an OSGi environment.
    -->
    <bean id="client" class="com.redhat.gpe.training.osgi.client.GreeterClient">
        <property name="service" ref="greeterService"/>
        <property name="defaultRequest" value="${myDefaultRequest}"/>
    </bean>

</beans>
